/* Geral */
body {
    margin: 0;
    padding: 0;
    font-family: "Baskervville SC", serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

.content {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    color: #000;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Imagens */
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

/* Estilização de Bordas e Sombra */
#intro img {
    border-radius: 8px; /* Adiciona bordas arredondadas */
}
